/* Font 'work sans' and sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'work sans', sans-serif;
}

/* Navbar styles */
.navbar{
  background-color: inherit;
}

.navbar-brand{
  margin-top: 10px;
   margin-right: 130px;
   font-size: 1.7em;
   font-weight: bold;
}

/* Custom style to change navbar toggler icon to white */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-toggler{
  border: none;
}

.navbar-toggler:hover{
  border: 2px solid white;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none; /* Change to desired color */
    border-color: rgb(255, 255, 255); /* Optional: set custom border color */
}


.nav-link{
  margin-top: 10px;
  margin-right: 15px;
}

.nav-link:hover{
  text-decoration: underline;
}

 .navbar-collapse{
    padding-left: 50px;
}

.nav-button{
  margin-top: 10px;
  margin-right:55px ;
  color: rgba(0, 33, 90, 0.731);
}

.nav-button:hover{
  background-color: rgba(82, 112, 163, 0.731);
  color: white;
}

.get-started{
  color: rgba(0, 33, 90, 0.731);
}

.get-started:hover{
  color: white;
  background-color: rgba(82, 112, 163, 0.731);
}

.dropdown-item:hover{
  text-decoration: underline;
}

/* Header styles */
div .head{
  background-color: rgba(0, 33, 90, 0.731);
  min-height: 500px;
}

.header{
 margin-top: 150px;
}

.header-photo{
  margin-top: 45px;
  animation: bounce 5s ease infinite;
}

@keyframes bounce{
  0%, 20%, 100% {
    transform: translateY(0);
  }
  /* 40% {
    transform: translateY(-30px);
  } */
  60%{
    transform: translateY(-30px);
  }
}


/* About us section styles */
.section-1{
  min-height: 300px;
}


.about-us{
  margin-top: 50px;
  color: rgba(0, 33, 90, 0.731);
  text-decoration: underline;
  text-decoration-thickness: 0px;
  text-decoration-color:rgba(0, 33, 90, 0.731) ;
  text-underline-offset: 15px;
  display:grid;
  justify-content: center;
}


.about-us-content{
  margin-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;

}



/* Vision and mission section style */

.section-2{
  background-color: rgba(233, 236, 244, 0.731);
  padding-bottom: 20px;
  padding-top: 15px;
}

.card-color{
  background-color: white;
  }


.mission-div{
  display: grid;
  align-items: center;
  justify-content: center;
  
}

.image2{
  width: 550px;
  height: 400px;
  mix-blend-mode: darken;

}

/* Program section styles */

.section-3{
  margin-top: 60px;
}

.body-content3{
  display: grid;
  justify-content: center;
}

.card-row{
  margin-bottom: 40px;
}

.card-img-top1{
  mix-blend-mode: darken;
}

.color-card{
  background-color: rgba(233, 236, 244, 0.731);
  padding: 10px;
  min-width: 250px;
  min-height: 350px; 
  box-shadow: 0px 0px 10px 0px rgba(233, 236, 244, 0.731);
  margin-bottom: 40px;
}


.program{
  padding: 20px;
}

.img-card{
  display: grid;
  justify-content: center;
}

.program-head{
  color: rgba(0, 33, 90, 0.731);
  text-decoration: underline;
  text-decoration-thickness: 0px;
  text-decoration-color:rgba(0, 33, 90, 0.731) ;
  text-underline-offset: 15px;
  display: grid;
  justify-content: center;
  
}


.program-para{
  padding-top: 10px;
  padding-bottom: 40px;
}


.card-img-top4{
  mix-blend-mode: darken;
  width: 110px;
  height: 100px;
  padding-top: 7px;
}

.card-img-top3{
  mix-blend-mode: darken;
  width: 100px;
  height: 100px;
}

 
div .col-sm-12 {
  display: grid;
  justify-content: center;
  padding-bottom: 10px;
}
 
/* Call to partnership section */

.section-4{
  display: grid;
  justify-content: center;
  background-image: linear-gradient(rgba(62, 75, 85, 0.5), rgba(78, 91, 101, 0.5)), url('./assets/images/cta-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: white;
  margin-bottom: 70px;
  align-items: center;
}

.register{
  padding-left: 60px;
}

.register-button{
  padding-left: 60px;
}

.register-button button{
  padding-right: 25px;
  padding-left: 25px;
}

/* Contact section styles */

.contact-section{
  display: grid;
  justify-content: center;
}

.contact-card-icon{
  position: relative;
  right: 55px;
  top: 35px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--accent-color), transparent 92%);
  font-size: 20px;
  color:  var(--accent-color);
  padding: 7px 10px;
}

#address{
  color: var(--accent-color); ;
}

#contact-card1{
  padding-left:  80px;
  padding-right: 40px;
  width: 450px;
  height: 620px;
  margin-left: 90px;
  border-top: 4px solid var(--accent-color);
  border-radius: 0%;
  border-bottom: 4px solid var(--accent-color);
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(233, 236, 244, 0.731);
}

/* Animation style */
.slideOut{
  animation: SlideOut 2s ease  ;
}

@keyframes SlideOut{
    from{
      transform: translateY(100px);
    }
    to{
      transform: translateY(0);
    }
}

.map{
  min-height: 300px;
  max-width: 400px;
  margin-left: -55px;
  margin-top: 30px;
}


/* Contact form styles */

#contact-form{
  padding-left: 25px;
  padding-top: 18px;
  min-width: 650px;
  min-height: 620px;
  margin-left: 95px;
  border-top: 4px solid var(--accent-color);
  border-radius: 0%;
  border-bottom: 4px solid var(--accent-color);
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(233, 236, 244, 0.731);
}

.formNameEmail{
  display: flex;
  gap: 1em;
}

.label{
  padding-bottom: 8px;
  padding-top: 15px;
}

.input{
  padding: 5px 2px;
  min-width: 290px;
}

.input3{
  padding: 5px 2px;
  min-width: 595px;
}

.input4{
  padding: 2px;
  min-width: 595px;
  min-height: 250px;
}

.form-button{
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--accent-color);
  color: white;
}

.button-div{
  display: flex;
  justify-content: center;
}

/* FAQ section styles */

.Accord-contain{
  background-color: rgba(233, 236, 244, 0.731);
  display: grid;
  justify-content: center;
}

.Accord-col{
  
  margin-top: 50px;
  margin-bottom: 50px;

}

.Accord-col h2{
    color: rgba(0, 33, 90, 0.731); 
}

#accord-butt{
  background-color: white;
  color:  rgba(0, 33, 90, 0.731); 
}

.accordion-item{
  margin-top: 10px;
  max-width: 680px;
}

/* Footer section styles */

.footer-col1{
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-col1 h3{
    color: var(--accent-color);
    padding-bottom: 10px;
}

.footer-lists{
  display: flex;
  
  margin-top: 40px;
  padding: 3px 0 ;
}

#footer-icon{
  font-size: 20px;
  padding-right: 2px;
}

#list-id {
  list-style-type: none;
}

#list-id li:hover {
  text-decoration: underline;
}

#list-id li{
  padding: 5px 0px;
}

#list-id h6{
  color: var(--accent-color);
  font-weight: bolder;
}


@media screen and (max-width:1024px) {
  
  /* NAVBAR 1024 STYLES */
  .navbar-brand{
     margin-right: 35px;
  }

  .nav-link{
    margin-right: 10px;
  }


  /* HEADER 1024PX STYLES  */
  .header{
    margin-top: 100px;
   }

  /* PROGRAM 1024PX STYLES  */
  .color-card{
    padding: 5px;
    min-width: 200px;
    min-height: 350px; 
  }

  /* CONTACT 1024PX STYLES */
  #contact-card1{
    width: 400px;
    height: 630px;
    margin-left: 90px;
    
  }
  
  #contact-form{
    /* padding-left: 25px;
    padding-top: 18px; */
    min-width: 512px;
    min-height: 630px;
    margin-left: 95px;
    
    
  }

  .map{
    min-height: 300px;
    min-width: 350px;
    margin-left: -54px;
   
  }
  

   .input{
    padding: 2px 0px;
    min-width: 209px;
  }

  .input3{
    padding: 2px 0px;
    min-width: 433px;
  }
  
  .input4{
    padding: 2px;
    min-width: 433px;
    min-height: 250px;
  }

  /* FOOTER 1024PX STYLES */

  .footer-lists{
    margin-top: 40px;
    padding: 3px 0 ;
  }
  
}

@media screen and (max-width:768px) {

  /* NAVBAR MOBILE STYLES */

  .navbar{
    background-color: rgba(59, 74, 100, 0.336);
  }

  .navbar-brand{
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    margin-left: 100px;
   
  }

  .navbar-toggler-icon {
    margin-right: 50px;
  }

  /* HEADER MOBILE STYLES */

  .head{
    background-image: linear-gradient(rgba(59, 74, 100, 0.336), rgba(47, 84, 147, 0.731)), url('./assets/images/ima333.jpg');
    background-size: cover;
    background-position: center;
}

  .header{
    margin-left: 0px;
    margin-top: 90px;
    
   }

  .header-photo{
   display: none;
  }

/* ABOUT MOBILE STYLES */
  .image2{
   display: none;
  }

  /* PROGRAM MOBILE STYLES */

  .color-card{
    min-width: 150px;
    min-height: 290px; 
    margin-bottom: 20px;
  }

  /* CALL TO PARTNERSHIP */

  .register-button{
    
    display: grid;
    align-items: center;
  }

  .register-button button{
    padding-right: 10px;
    padding-left: 10px;
    
  }

  /* CONTACT STYLES */
  #contact-card1{
    padding-left:  80px;
    padding-right: 40px;
    min-width: 450px;
    min-height: 620px;
    margin-left: 0px;
  }


  /* CONTACT FORM STYLES */
  #contact-form{
    margin-left: 0px;
    min-width: 450px;
    min-height: 620px;  
  }
  
  .input{
    padding: 5px 2px;
    min-width: 190px;
    border: 1px solid black;
  }
  
  .input3{
    padding: 5px 2px;
    min-width: 405px;
    border: 1px solid black;

  }
  
  .input4{
    padding: 2px;
    min-width: 405px;
    min-height: 250px;
    border: 1px solid black;

  }
  
  /* FAQ MOBILE STYLES */
  
  .accordion-item{
    margin-top: 10px;
   max-width: 460px;
  }
  
  /* FOOTER MOBILE STYLES */

  .footer-col1{
    /* margin-top: 40px;
    margin-bottom: 40px; */
    margin-left: 20px;
  }

  #footer-p{
    font-size: 10px;
  }
  
  .footer-lists{
    display: grid;
    grid-template-columns: 150px 50px;
    font-size: x-small;
  }
  
  #footer-icon{
    font-size: 15px;
  }

  #list-id li{
    padding: 3px 0px;
  }

  .copyright{
    font-size: x-small;
  }
  
}

@media screen and (max-width:500px) {
  
  .navbar-brand{
     
     font-size: 2px;
    
  }
}